<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Show time">
 
  <test name="Edit">
	 <classes>
   <class name="executionEngine.AboutEvent">
       	<methods>
       		<include name="AboutEventEdit" />
       	</methods>
       </class>
       
      </classes>
     </test>
     
</suite> 
